body  {
    background-color: cornflowerblue;
    padding: 20px;
    
}

h1  {
    padding: 80px;
    background-color: darkorchid;
    color: white;
}

p  {
    font-size: 20px;
}

button  {
    background-color: darkorchid;
    padding: 50px;
    border-radius: 20px;
    color: black;
    font-size: 20px;
}

footer   {
    background-color: darkorchid;
    padding: 40px;
    text-align: center;
    font-size: 17px;
}

footer img  {
    width: 150px;
}